* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;

	font-family: 'Merriweather', serif;
	font-size: 20px;
	font-weight: 200;

	line-height: 30px;

	color: #000;
}




nav {
	width: 100%;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 20px;
	padding: 80px 0;
	text-transform: uppercase;
	margin-top: -90px;
	letter-spacing: 3px;
}

nav ul {
	margin: 0; padding: 0;
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	margin: 0 40px;
}

nav ul li a {
	color: #FFF;
	font-weight: 500;
}

nav ul li.logo {
	position: relative;
	width: 80px;
	height: 87px;
}

nav ul li.logo a {
	text-indent: -9999px;
	width: 80px;
	height: 87px;

	background: url( ../img/logo.png ) no-repeat center;
	display: block;

	position: absolute;
	left: 0;
	top: 30px;
}

nav ul li a:hover {
	color: #FFF;
}





header {
	width: 100%;
	border-bottom: 1px solid #D8B14B;
	text-align: center;
}

header .bg {
	background-size: cover;
	width: 100%;
}

.home header .bg {
	background: url( ../img/j+k.jpg ) center no-repeat;
	background-size: cover;
	height: 764px;
}

.rsvp header .bg {
	background: url( ../img/rsvp-bg.jpg ) center no-repeat;
	background-size: cover;
	height: 420px;
}

.guide header .bg {
	background: url( ../img/guide-bg.jpg ) center no-repeat;
	background-size: cover;
	height: 420px;
}

.rsvp header {
	border-bottom: none;
}

.bg h1, .bg h3 {
	color: #FFF;
	margin: 10px 0; padding: 0;
}

.bg h1 {
	margin-top: 260px;
}

.guide .bg h1, .rsvp .bg h1 {
	margin-top: 30px;
}

.bg h3 {
	font-family: 'Merriweather Sans', sans-serif;
	font-style: normal;
}

p {
	margin: 40px 0;
}

.col {
	width: 49.80%;
	display: inline-block;
	vertical-align: top;

	/* padding: 0 40px; */
}

.col.left {
	border-right: 1px solid #D8B14B;
}

.col.right {
	width: 49%;
}

section, .message-board {
	padding: 0 40px 40px 40px;
}

section {
	padding-bottom: 0;
}

section.gifts {
	background: url( ../img/gift.gif ) no-repeat top center;
	padding-top: 200px;
	margin-top: 40px;
}

h1 {
	margin: 0 auto;
	font-family: 'Merriweather', serif;
	font-style: italic;
	font-weight: 200;
	margin: 30px 0;
}

h2, h3, h4 {
	font-family: 'Merriweather', serif;
	font-style: italic;

	margin: 20px 0;
}

h2 {
	font-size: 22px;
	text-align: center;
}

h3 {
	font-size: 30px;
	color: #D9B24C;
	font-style: normal;
}

h2:before {
	content: '';
	width: 34px;
	height: 18px;
	background: url( ../img/left-flourish.png ) no-repeat;
	display: inline-block;
	margin-right: 20px;
}

h2:after {
	content: '';
	width: 34px;
	height: 18px;
	background: url( ../img/right-flourish.png ) no-repeat;
	display: inline-block;
	margin-left: 20px;
}

.container {
	/* border: 1px solid red; */
}

/* MESSAGES */

.message-board {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	border-bottom: 1px solid #D8B14B;
}

.message-board .message {
	width:65%;
	line-height:1.3em;
	border-radius:20px;
	position:relative;
	margin:10px 15px 0;
}

.message-board .message p {
	font-size:18px;
	overflow-wrap:break-word;
	letter-spacing:.04em;
	margin:10px;
}

.message.right-side {
	float:right;
	border:1px solid #79cdcb;
	background:#79cdcb;
}

.message.right-side p {
	font-weight:100;
	color:#fff;
}

.message.left-side {
	float:left;
	border:1px solid #e5e5e9;
	background:#e5e5e9;
	letter-spacing:.01em;
}

.message.left-side p {
	
}

.tail {
	width:20px;
	height:16px;
	background-color:#ff0;
}

.right-side .tail {
	position:absolute;
	bottom:0;
	right:-9px;
	background:url(../img/right-tail.png) center center no-repeat;
	background-size:20px 16px;
}

.left-side .tail {
	position:absolute;
	bottom:0;
	left:-9px;
	background:url(../img/left-tail.png) center center no-repeat;
	background-size:20px 16px;
}

.no-messages p {
	color:#393939;
	font-size:18px;
	overflow-wrap:break-word;
	line-height:1.3em;
	letter-spacing:.015em;
	margin:10px;
}

.bottom-bar {
	position:absolute;
	width:370px;
	height:46px;
	bottom:0;
	border-top:1px solid #cacaca;
	background:#f3f3f3;
}

.camera-button,.send-button {
	position:absolute;
	bottom:0;
	height:46px;
}

.camera-button {
	left:0;
	width:60px;
	background:url(../images/67860544.camera-button.png) center center no-repeat;
	background-size:28px 22px;
}

.send-button {
	right:0;
	width:80px;
	background:url(../images/587d0889.send-button.png) center center no-repeat;
	background-size:42px 16px;
}

.message-field {
	position:absolute;
	left:56px;
	top:7px;
	outline:0;
	padding-left:10px;
	width:218px;
	height:28px;
	border:1px solid #cacaca;
	border-radius:9px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:17px;
}

.reset-button {
	position:absolute;
	width:80px;
	height:80px;
	bottom:28px;
	left:184px;
}

.screen-glare {
	width:242px;
	height:640px;
	position:absolute;
	top:14px;
	right:9px;
	background:url(../images/6f212129.glare.png) center center no-repeat;
	z-index:1000;
}

.copyright {
	bottom:0;
	left:0;
	width:100%;
}

.copyright p {
	color:#fff;
	font-size:14px;
	margin:20px 10px 15px;
}

.screenshot-image-container {
	display:none;
	width:100%;
	position:absolute!important;
	top:0;
	z-index:1000;
	height:976px;
	text-align:center;
}

.screenshot-container {
	
}

.image-container {
	width:490px;
	padding-left:50px;
	margin:0 auto;
}

.image-container img {
	display:none;
	margin:10px auto;
}

.close-button {
	z-index:1001;
	display:block;
	width:50px;
	height:50px;
	background:url(../images/ddf73c22.close.png) center center no-repeat;
	float:right;
	margin-top:10px;
}

.clear {
	clear: both;
}



.united-nations {
	color: #D8B04B;
	font-weight: 400;
	font-style: italic;
}

/* map */

.map {
	height: 600px;

	border-top: 1px solid #D8B14B;
	border-bottom: 1px solid #D8B14B;

	background: #E7D2B4;
}

/* form jank */

.required {
	font-size: 14px;
	font-family: 'Merriweather Sans', sans-serif;
}

.form {
	text-align: center;
}

form {
	width: 436px;
	margin: 0 auto;

	padding: 40px 0;
}

form fieldset {
	width: 100%;
}

form fieldset.radios {
	padding: 16px 0;
}

form input[type="radio"], form label {
	display: inline-block;
	margin: 0;
}

form .full-width input[type="number"],
form .full-width input[type="email"],
form .full-width input[type="text"],
form .full-width textarea,
form input[type="submit"] {
	width: 100%;
}

form input[type="submit"] {
	color: #FFF;
	background: #7ACCCB;
	width: 100%;
	border: none;
	padding: 20px 0;
	border-radius: 4px;
	font-size: 18px;
}

form .half-width input[type="text"],
form .half-width textarea {
	width: 49%;
}

form input[type="number"],
form input[type="email"],
form input[type="text"],
form textarea {
	font-family: 'Merriweather', serif;
	font-weight: 200;
	font-size: 18px;

	border: 1px solid #D9B24C;
	padding: 26px 20px;

	color: #BBB;
}

.filled {
	color: #000 !important;
}

form label {
	padding: 10px;
}


/* Guide */

.container.RSVP {
	border-top: 1px solid #D8B14B;
	width: 100% !important;
}

.guide .container {
	width: 1152px;
}

.guide .col {
	width: 33%;
	display: inline-block;
	border-right: 1px solid #D8B14B;

	/* height: 1890px; */
}

.guide .container.guide .col {
	height: 1890px;
}

.guide .headers {
	padding-top: 20px;
}

.guide .headers h3 {
	color: #D9B24C;
	font-style: normal;
	text-transform: uppercase;
}

.guide .headers .col {
	border-right: none;
}

.guide .col:last-child {
	border-right: none;
}

.highlight {
	color: #D9B24C;
	font-style: italic;
}




.error {
	display: none;
	background: #FF9999;
	border: 2px solid #ff0000;
	color: #FFF;

	margin: 0 0 10px 0;
	padding: 20px;

	border-radius: 3px;
}

.needed {
	border: 2px solid red !important;
}